---
import type { Song } from "../../js/types";
import { getCollection  } from "astro:content";
import Layout from "../../layouts/Layout.astro";
export async function getStaticPaths() {
  const songs = await getCollection("songs");
  return songs.map((song: Song) => {
    return {
      params: { slug: song.id },
      props: song,
    };
  });
}
import SongInfo from "../../components/SongInfo.astro";
const song: Song = Astro.props;
---

<Layout title="Welcome to Astro.">
  <div class=" text-white">
    <SongInfo 
			song={song}
    />

  </div>
</Layout>
